.preview {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 50%;
    max-width: 1600px;
    height: 90vh;
    max-height: 800px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    z-index: 5;
    overflow: hidden;
    transform: 1s;
    opacity: 0;
}

.preview.active {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.preview.active .close-btn,
.preview.active .image-name,
.preview.active .preview-image,
.preview.active .preview,
.preview.active .top-bar {
    opacity: 1;
    transition: opacity .5s;
}

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: #EDEDED;
    text-align: center;
    line-height: 50px;
    font-weight: 200;
    opacity: 0;
}

.image-name {
    opacity: 0;
}

.close-btn {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: 700;
    color: #EDEDED;
    font-size: 15px;
    background: #1e1e1e;
    cursor: pointer;
}

.preview-image {
    margin-top: 5%;
    width: 80%;
    height: 80%;
    object-fit: contain;
    opacity: 0;
}