/* pink scrollbar */

body::-webkit-scrollbar {
    width: auto;
}

body::-webkit-scrollbar-track {
    background: #DBA39A;
    border-radius: 6px;
    margin-block: 0.5em;
}

body::-webkit-scrollbar-thumb {
    background: #F0DBDB;
    border-radius: 6px;

}

body::-webkit-scrollbar-thumb:hover {
    background: #D9BACA;
}