<!DOCTYPE html>
<html>
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    <!-- Code that all your templates share, like a header -->
    {{- partial "header.html" . -}}
    <div class="container">
      <section class="intro">
        <img class="intro__logo" src="Intro_Design_Transparent.png" alt="CinnamonGum Design">
        <div class="intro__text">
          <h1>Test</h1>
          <h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae fuga commodi voluptatum aut esse quasi dignissimos natus sunt rem, asperiores tempore nam assumenda! Iste, eligendi molestias magni error cupiditate repellat.
          </h2>
        </div>
      </section>
      <main class="main">
        {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
        {{ end }}
      </main>

      {{- partialCached "footer.html" . }}
    </div>
  </body>
</html>
