{{ define "main" }}
{{ $image := .Resources.GetMatch .Params.image }}
<div class="preview">
  <div class="top-bar">
    <h1 class="image-name">{{ .Title }}</h1>
    <span class="close-btn"></span>
  </div>
  <img src="{{ ( $image.Resize "2560x" ).RelPermalink }}" class="preview-image">
</div>
<div class="post">
  <div class="post__header">
    <img class="post__image" src="{{ ( $image.Resize "2560x" ).RelPermalink }}">
  </div>

  {{ with .Params.tags }}
  <div class="post__tags">
    {{ range . }}
      <a class="post__tag" href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}

  <section class="post__content">
    <h1 id="title">{{ .Title }}</h1>
    <div>
      <article>
          {{ .Content }}
      </article>
    </div>
  </section>
</div>
{{ end }}
