{{ define "main" }}
{{ $image := .Resources.GetMatch .Params.image }}
<div class="preview">
  <div class="top-bar">
    <h1 class="image-name">{{ .Title }}</h1>
    <span class="close-btn">&times;</span>
  </div>
  <img src="{{ ( $image.Resize "2560x" ).RelPermalink }}" class="preview-image">
</div>
<div class="post">
  <div class="post__header">
    <img class="post__image" src="{{ ( $image.Resize "2560x" ).RelPermalink }}">
  </div>

  {{ with .Params.tags }}
  <div class="post__tags">
    {{ range . }}
      <a class="post__tag" href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}

  <section class="post__content">
    <h1 id="title">{{ .Title }}</h1>
    <div>
      <article>
          {{ .Content }}
      </article>
    </div>
  </section>
  <div class="post__comments">
    <h2>Comments</h2>
  </div>
  <div id="graphcomment"></div>
  <script type="text/javascript">

    /* - - - CONFIGURATION VARIABLES - - - */

    var __semio__params = {
      graphcommentId: "CinnamonGum", // make sure the id is yours

      behaviour: {
        // HIGHLY RECOMMENDED
        //  uid: "...", // uniq identifer for the comments thread on your page (ex: your page id)
        uid: "{{ replace .Title " " "-" | title }}"
      },

      // configure your variables here

    }

    /* - - - DON'T EDIT BELOW THIS LINE - - - */

    function __semio__onload() {
      __semio__gc_graphlogin(__semio__params)
    }


    (function() {
      var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
      gc.onload = __semio__onload; gc.defer = true; gc.src = 'https://integration.graphcomment.com/gc_graphlogin.js?' + Date.now();
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
    })();
    

  </script>
</div>
{{ end }}
